* {
  font-family: "Raleway", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#learnMore {
  height: 100%;
  width: 100%;
  background-color: rgb(247,231,229);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  line-height: 1.5;
}

#headTitle {
  margin-top: 30px;
}
#seeInfo {
  margin-bottom: 30px;
}

a {
  color: #2980b9;
  text-decoration: none;
}
a:hover {
  color: #487796
}

#socialLink {
  display: flex;
  align-items: center;
  justify-content: center;

}

@media only screen and (max-width: 1024px) {
  #headTitle, #seeInfo {
    width: 95%;
  }
}